.titulo {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 0 72px;

  h1 {
    color: var(--Main-Body, #23155B);
    text-align: center;

    /* Titles/H1 */
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    /* 150% */
  }

  p {
    color: var(--Main-Gray, #928CAB);
    text-align: center;

    /* 24/Regular */
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 150% */
  }

}
